:root {
	--primary: #bf9001;
	--tile: #fffef7;
	--bg: #f5f4ef;
	--bd: #c9c9be;
	--success: #588c7e;
	--error: #d96459;
}

:focus {
	outline: transparent;
}

/* html.vg { } */
/* body.vg { */
/* 	margin: 0; */
/* } */

/**
 * list all inputs because we don't want select checkbox/radio/range
 */
input:not([type]).vg,
input[type="email"].vg,
input[type="search"].vg,
input[type="number"].vg,
input[type="password"].vg,
input[type="text"].vg,
input[type="date"].vg,
input[type="time"].vg,
input[type="url"].vg,
select.vg,
.vg-input {
	appearance: none;
	display: block;
	min-width: 0;
	color: currentColor;
	border: solid 1px var(--bd);
	border-radius: 2px;
	padding: 4px 8px;
	transition: all 200ms ease;
	background-repeat: no-repeat;
	background-position: center right 8px;

	&.valid:not(.blank) {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 16 16'%3E%3Cpath style='fill:currentColor' d='M 13.408729,1.6610169 5.9491525,9.307 2.4550169,5.994644 0,8.450983 5.9491525,14.220339 15.864407,4.1166949 Z'/%3E%3C/svg%3E");
	}

	&.dirty.invalid {
		border-color: var(--error);
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20%20width%3D%2212%22%20%20height%3D%2212%22%20%20viewBox%3D%220%200%2016%2016%22%20%20style%3D%22fill%3A%20currentColor%22%20%20version%3D%221.1%22%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20%20%20%20width%3D%222%22%20%20%20%20transform-origin%3D%228%208%22%20%20%20%20height%3D%2216%22%20%20%20%20x%3D%227%22%20%20%20%20y%3D%220%22%20%20%20%20ry%3D%220.1%22%20%20%20%20transform%3D%22rotate(-45)%22%20%20%2F%3E%3Crect%20%20%20%20width%3D%222%22%20%20%20%20transform-origin%3D%228%208%22%20%20%20%20height%3D%2216%22%20%20%20%20x%3D%227%22%20%20%20%20y%3D%220%22%20%20%20%20ry%3D%220.1%22%20%20%20%20transform%3D%22rotate(45)%22%20%20%2F%3E%3C%2Fsvg%3E");
	}
}
input[type="search"].vg {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 12 12' width='16' height='16' version='1.1' xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Ccircle r='3.5' cx='5' cy='5' fill='none' stroke='currentColor' stroke-width='2' %2F%3E%3Crect fill='currentColor' width='4' height='2' x='9' y='4.1' rx='0.1' ry='0.1' transform-origin='5 5' transform='rotate(45)' %2F%3E%3C%2Fsvg%3E") !important;
}

input[type="checkbox"].vg,
.vg-checkbox {
	appearance: none;
	box-sizing: border-box;
	display: inline-block;
	width: 16px;
	height: 16px;
	border: solid 2px currentColor;
	border-radius: 2px;
	cursor: pointer;
	color: inherit;

	&:checked {
		background: currentColor
			url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath style='fill:white' d='M 13.408729,1.6610169 5.9491525,9.307 2.4550169,5.994644 0,8.450983 5.9491525,14.220339 15.864407,4.1166949 Z'/%3E%3C/svg%3E");
		background-position: center;
		background-size: cover;
	}
}
input[type="radio"].vg,
.vg-radio {
	appearance: none;
	box-sizing: border-box;
	display: inline-block;
	width: 18px;
	height: 18px;
	border: solid 2px currentcolor;
	border-radius: 50%;
	background: none;
	color: inherit;
	box-shadow: 0 0 0 2px white inset;
	&:checked {
		background: currentcolor;
	}
}
input[type="search"].vg,
input[type="time"].vg,
input[type="date"].vg {
	padding-right: 32px;
}
/* input[type="date"].vg::-webkit-calendar-picker-indicator {
     margin: 0;
     padding: 0;
 } */
[list]::-webkit-calendar-picker-indicator {
	display: none !important;
}
input[list]:not([type="range"]).vg:focus,
select.vg {
	appearance: none;
	background-position: center right 8px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 16 16'%3E%3Cpath fill='currentColor' d='M 2,4 14,4 8,10 z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
}

select.vg {
	cursor: pointer;
}

textarea.vg {
	appearance: none;
	background: none;
	display: block;
	min-height: 64px;
	resize: vertical;
}

input[type="range"].vg {
	appearance: none;
	width: 100%;
	height: 16px;
	background-color: var(--tile);
	border-radius: 999px;
	cursor: pointer;
}

input[type="range"].vg::-moz-range-thumb,
input[type="range"].vg::-webkit-slider-thumb {
	border-radius: 99px;
	background: var(--bg);
	border: solid 2px var(--primary);
	height: 15px;
	width: 15px;
	appearance: none;
}

.heading {
	font-size: 3rem;
}
